NEXT_PUBLIC_MAPI_SG_URL=xxx

NEXT_PUBLIC_HOST_URL=xxx
NEXT_PUBLIC_WEBSOCKET_URL=xxx

NEXTAUTH_URL=xxx
NEXTAUTH_SECRET=xxx

POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
POSTGRES_DB=xxx

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:secretpassword@localhost:5432/db?schema=public"