@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FBFBFB;

  --secondary: #3B83FF; 

  --tertiary: #343434;

  --text-primary: #000000;

  --bg-primary-100: #B7ED05;
  --bg-primary-200: #80D602;
  
  --gray-100: #F1F1F1;

}
body{
  color: var(--text-primary);
}
.bg-primary{
  background: linear-gradient(var(--bg-primary-100),var(--bg-primary-200));
}

.button:hover{
  background: linear-gradient(var(--bg-primary-100),var(--bg-primary-200));
}

.border-primary{
  border-color :var(--bg-primary-200);
}
.heading-h2{
  font-size: 1.5rem;
}
.heading-h3{
  font-size: 0.875rem;
}
.mt-10{
  margin-top: 0.625rem;
}
.max-with-card{
  max-width: 13rem;
}